#cajapadre {
  display: flex;
}
#cajapadre > div {
  height: 145px;
  margin: 5px;
  background-color: #d89aff;
}
#caja-1 {
  width: 200px;
  flex: 1 1 auto;
}
#caja-2 {
  flex: 1 5 100px;
}
#caja-3 {
  flex: 2 5 100px;
}
#caja-4 {
  flex: 1 5 100px;
}
