$default-bg-color: red;
$medium-size-bg-color: rgb(106, 45, 97);
$large-size-bg-color: rgb(151, 40, 155);
$huge-size-bg-color: green;

$breakpoints: (
  "medium": "min-width: 800px",
  "large": "min-width: 1000px",
  "huge": "min-width: 1200px",
);
